*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    padding: 9%;
    display: flex;
    justify-content: center;
    background-color: gray;
}
.container{
    width: 800px;
    background-color: white;
}
header{
    width: 100%;
    height: 50px;
    display: flex;
    padding: 3%;
    justify-content: space-between;
    align-items: center;
}
header>.snap>select{
    border: 0;
}
.snap{
    display: flex;
    align-items: center;
    width: 50%;
    gap: 10px;
}
.snap>a{
    text-decoration: none;
    color: black;
}
.btn{
    display: flex;
    gap: 20px;
}
.btn>button:first-child{
    border: 0;
    height: 40px;
    width: 70px;
    background-color: transparent;
}
.btn>button:last-child{
    height: 40px;
    width: 80px;
    background-color: transparent;
    border-radius: 7px;
}
.container2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 6%;   
}
.item{
    width: 35%;
    height: 400px;
}
.item:first-child{
    width: 45%;
}
.item>p{
    margin-top: 40px;
}
.item>button{
    margin-top: 40px;
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 90px;
    height: 30px;
}
.item>img{
    width: 100%;
    height: 100%;
}
.footer{
    display: flex;
    gap: 30px;
    margin-top: 110px;
}
.itemm{
    height: 15px;
    width: 25%;
}
.itemm>img{
    width: 100%;
    height: 100%;
}